#container{
    display: flex;
    height: 100vh;
    width: 100vw;
}

#left-ui-panel{
    width: 250px;
    background-color: lightgray;
    border-right: black solid 2px;
}

#sim-area{
    flex: 1;
    background-color: whitesmoke;
}