#container {
    position: relative;
    height: 100vh;
    width: 100vw;
}

/*
UI Panel Styling
*/

#left-ui-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: lightgrey;
    z-index: 10;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: transform 0.5s cubic-bezier( 0.00,0.00, 0.20,1.00 );
}

#ui-handle {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    width: 20px;
    height: 80px;
    background: lightgrey;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#left-ui-panel.closed{
    transform: translateX(-250px);
}

/*
Sim Area Styling
*/

#sim-area {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}