#container {
    position: relative;
    height: 100vh;
    width: 100vw;
}

/*
UI Panel Styling
*/

#left-ui-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #e0e0e0;
    z-index: 10;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: transform 0.5s cubic-bezier( 0.00,0.00, 0.20,1.00 );
}

#ui-handle {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    width: 40px;
    height: 80px;
    background-color: #e0e0e0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#left-ui-panel.closed{
    transform: translateX(-250px);
}

#arrow{
    transition: transform 0.3s ease;
}

#left-ui-panel.closed #arrow{
    transform: rotateZ(0deg);
}

#left-ui-panel.open #arrow{
    transform: rotateZ(180deg);
}

/*
UI Content
*/

#ui-content {
    padding: 10px;
}

#ui-content md-filled-tonal-icon-button {
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
    border-radius: 1000px;
    transition: box-shadow 0.2s ease;
}

md-filled-tonal-icon-button.selected {
    --md-sys-color-secondary-container: gray;
    box-shadow: none !important;
}

md-filled-tonal-icon-button.selected md-icon {
    color: rgb(221, 221, 221);
}

/*
Sim Area Styling
*/

#sim-area {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}